.vscode
**/__pycache__/*
imgs/**/*.png*
imgs/**/*.pdf*
plots*/*

logs/*
build/**
*.diff

src/**/*.c
src/**/*.cpp
src/**/*.html
src/**/*.so

*.log
*.log.1
learning_stats.csv
learning_stats.csv.1
large_turn_ratios.csv
per_fly_turn_exit_tables/*